# Frontend React - Build and Push Docker Image to ACR
# ----------------------------------------------------
# Builds the Docker image for the frontend and pushes to moniqueacr.azurecr.io

trigger:
- main

resources:
- repo: self

variables:
  imageName: 'software-remittance-tracker-backend'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push image
  jobs:
  - job: Build
    displayName: Build and Push
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      displayName: Build and Push image to ACR
      inputs:
        containerRegistry: pangu
        repository: $(imageName)
        command: buildAndPush
        Dockerfile: $(Build.SourcesDirectory)/Dockerfile
        tags: |
          latest
          $(tag)